<div class="panel col-md-offset-2 col-md-6">
    <h3 class="text-primary">Our products</h3>

    <div *ngFor="let product of products" class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-1"></div>
                <div class="panel col-sm-10 control=label">
                    <table class="table">

                        <tr>
                            <th colspan="2">
                                <h4>{{product.name}}</h4>
                            </th>
                        </tr>
                        <tr>
                            <th>ID:</th>
                            <td>{{product.id}}</td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>{{product.description}}</td>
                        </tr>

                        <tr>
                            <th>Image:</th>
                            <td>{{product.image}}</td>
                        </tr>

                        <tr>
                            <th>Price:</th>
                            <td>{{product.price}} THB</td>
                        </tr>

                        <tr>
                            <th>Amount:</th>
                            <td>{{product.amount}}</td>
                        </tr>

                        <tr>
                            <th>Rating:</th>
                            <td>{{product.rate}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>